.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flex-row-space-between {
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: stretch;
}
.flex-col-left {
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: stretch;
}
.border-btm {
  border-bottom: 2px solid black;
}
.bg-black {
  background-color: black;
}
.w-100-vw {
  width: 100vw;
}
.w-49-vw {
  width: 49vw;
}
.w-3 {
  width: 3px;
}
.h-100-P {
  height: 100%;
}
.h-83 {
  height: 83px;
}
.m-btm-15 {
  margin-bottom: 15px;
}
.align-left {
  text-align: left;
  align-content: left;
}